.container {
    margin: 0 auto;
}

.profileSection {
    background-color: white;
    max-width: 450px;
    margin: 1em auto;
    padding: 2em;
    border-radius: 20px;
}

.reviewSection {
    max-width: 500px;
    margin: 0 auto;
}

.reviewCard {
    max-width: 500px;
    padding: 2em;
    border-radius: 20px;
    margin: 1em auto;
    background-color: white;
}