.header {
  background-color: #4C5C2D;
  color: #D96868;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo a{
  font-size: 28px;
  font-weight: bold;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 20px;
}
a {
  text-decoration: none;
  color: #D96868;
  transition: color 0.3s, transform 0.4s; 
  display: inline-block;
}
a:hover {
  color: #a24d4d;
  transform: scale(1.1);
}

.navLink {
  color: #D96868;
  text-decoration: none;
  font-weight: bold;
}

.logoutButton {
  background: none;
  border: 3px solid #D96868;
  color: #D96868;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.4s;
}

.logoutButton:hover {
  transform: scale(1.05);
  background-color: #D96868;
  color: white;
}

.hamburger {
  background: none;
  border: none;
  font-size: 28px;
  color: #D96868;
  cursor: pointer;
}

/* Sidomeny */

.sideMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background: #4C5C2D;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.open {
  transform: translateX(0);
}

.sideMenu a {
  font-size: 20px;
}

.closeBtn {
  background: none;
  border: none;
  color: #D96868;
  font-size: 24px;
  cursor: pointer;
  align-self: flex-end;
}

/* BACKGROUND OVERLAY */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}